<div class="certifications-container">
  <h2 class="mat-headline-small">Certifications</h2>
  <mat-list>
    <mat-list-item>
      <mat-icon matListItemIcon>workspace_premium</mat-icon>
      <span matListItemTitle>Github GH-300  <span class="in-progress">(in progress)</span></span>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>workspace_premium</mat-icon>
      <span matListItemTitle>Spring Certified Professional 2024 (2V0-72.22)  <span class="in-progress">(In progress)</span></span>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>workspace_premium</mat-icon>
      <span matListItemTitle>Oracle Certified Associate, Java SE 8 Programmer - 1Z0-808  (2026)</span>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>workspace_premium</mat-icon>
      <span matListItemTitle>Oracle Java Certified Foundations Associate - 1Z0-811 (2026)</span>
    </mat-list-item>
    <mat-divider></mat-divider>
       <mat-list-item>
      <mat-icon matListItemIcon>workspace_premium</mat-icon>
      <span matListItemTitle>Aspiring Architecture — L0 (2025)</span>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>workspace_premium</mat-icon>
      <span matListItemTitle>Microsoft Azure Fundamentals — AZ&#8209;900 (2023)</span>
    </mat-list-item>
    <mat-divider></mat-divider>
 
  </mat-list>
  <mat-divider></mat-divider>
  <h2 class="mat-headline-small section-title">Languages</h2>
  <mat-list>
    <mat-list-item>
      <mat-icon matListItemIcon>language</mat-icon>
      <span matListItemTitle>Portuguese: Native</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon matListItemIcon>language</mat-icon>
      <span matListItemTitle>English: B2</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon matListItemIcon>language</mat-icon>
      <span matListItemTitle>Spanish: A1</span>
    </mat-list-item>
  </mat-list>
</div>
