<div class="image-card">
  <div class="image-label">Who am I?</div>
  <div class="image-block">
    <img src="/assets/images/portrait.jpg" alt="Portrait Image" class="portrait-image" />
  </div>
  <div class="image-description">
    <p>
     Hi! My name is Eliabe Silva.
    </p>
    <p>
       As a Senior Software Engineer and Tech Lead with over 10 years of experience, I specialize in designing and delivering scalable, high-performance systems with a strong focus on clean code, maintainability, and robust architecture. I apply best engineering practices and principles such as SOLID, Clean Code, DRY, and design patterns to build resilient solutions that minimize long-term development cost and effort. My expertise includes software development using Angular, Java/Spring Boot, RxJS, TypeScript, microfrontends, and microservices, as well as implementing CI/CD pipelines with GitHub Actions, automated testing, and API integrations for complex distributed systems. Throughout my career, I have achieved measurable results—reducing feature delivery lead time by 75%, improving application performance by 20%, and mentoring over 100 developers. My mission is to deliver reliable, scalable systems that meet rigorous performance and business requirements.
    </p>
</div>
