<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>computer</mat-icon>
        Frontend
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="stack-list">
      <li><img src="https://cdn.simpleicons.org/angular" alt="Angular" class="stack-icon" />Angular (6 yrs)</li>
      <li><img src="https://cdn.simpleicons.org/typescript" alt="TypeScript" class="stack-icon" />TypeScript (6 yrs)</li>
      <li><img src="https://cdn.simpleicons.org/javascript" alt="JavaScript" class="stack-icon" />JavaScript (7 yrs)</li>
      <li><img src="https://cdn.simpleicons.org/reactivex" alt="RxJS" class="stack-icon" />RxJS (5 yrs)</li>
      <li><img src="https://cdn.simpleicons.org/html5" alt="HTML" class="stack-icon" />HTML (10 yrs)</li>
      <li><img src="https://cdn.simpleicons.org/sass" alt="SCSS" class="stack-icon" />SCSS (10 yrs)</li>
      <li><img src="https://cdn.simpleicons.org/chartdotjs" alt="Chart.js" class="stack-icon" />Chart.js (5 yrs)</li>
      <li><img src="https://cdn.simpleicons.org/ionic" alt="Ionic" class="stack-icon" />Ionic (5 yrs)</li>
      <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/ngrx/ngrx-original.svg" alt="NgRx" class="stack-icon" />NgRx (1 yr)</li>
      <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angularmaterial/angularmaterial-original.svg" alt="Angular Material" class="stack-icon" />Angular Material  (1 yr)</li>
      <li><img src="https://cdn.simpleicons.org/bootstrap" alt="Bootstrap" class="stack-icon" />Bootstrap  (6 yrs)</li>
      <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/materialui/materialui-original.svg" alt="Material CSS" class="stack-icon" />Material CSS (6 yrs)</li>
    </ul>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>dns</mat-icon>
        Backend
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="stack-list">
      <li><img src="https://cdn.simpleicons.org/openjdk" alt="Java" class="stack-icon" />Java (10 yrs)</li>
      <li><img src="https://cdn.simpleicons.org/springboot" alt="Spring Boot" class="stack-icon" />Spring Boot (5 yrs)</li>
      <li><img src="https://cdn.simpleicons.org/openapiinitiative" alt="RESTful APIs" class="stack-icon" />RESTful APIs (5 yrs)</li>
      <li><img src="https://cdn.simpleicons.org/mysql" alt="MariaDB/MySQL" class="stack-icon" />MariaDB/MySQL (10 yrs)</li>
      <li><img src="https://cdn.simpleicons.org/mongodb" alt="MongoDB" class="stack-icon" />MongoDB (1 yr)</li>
      <li><img src="https://cdn.simpleicons.org/apachekafka" alt="Kafka" class="stack-icon" />Kafka (1 yr)</li>
    </ul>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>cloud</mat-icon>
        DevOps / Cloud
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="stack-list">
      <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/azure/azure-original.svg" alt="Azure" class="stack-icon" />Azure (2 yrs)</li>
      <li><img src="https://cdn.simpleicons.org/googlecloud" alt="GCP" class="stack-icon" />GCP (4 yrs)</li>
      <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/amazonwebservices/amazonwebservices-plain-wordmark.svg" alt="AWS" class="stack-icon" />AWS (1 yr)</li>
      <li><img src="https://cdn.simpleicons.org/docker" alt="Docker" class="stack-icon" />Docker (3 yrs)</li>
      <li><img src="https://cdn.simpleicons.org/kubernetes" alt="Kubernetes" class="stack-icon" />Kubernetes (1 yr)</li>
      <li><img src="https://cdn.simpleicons.org/githubactions" alt="GitHub Actions" class="stack-icon" />GitHub Actions (3 yrs)</li>
    </ul>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>verified</mat-icon>
        Testing / Quality
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="stack-list">
      <li><img src="https://cdn.simpleicons.org/junit5" alt="JUnit" class="stack-icon" />JUnit</li>
      <li><img src="https://cdn.simpleicons.org/jest" alt="Jest" class="stack-icon" />Jest</li>
      <li><img src="https://cdn.simpleicons.org/jasmine" alt="Jasmine" class="stack-icon" />Jasmine</li>
      <li><img src="https://cdn.simpleicons.org/openjdk" alt="Mockito" class="stack-icon" />Mockito</li>
      <li><img src="https://cdn.simpleicons.org/cucumber" alt="Cucumber" class="stack-icon" />Cucumber</li>
      <li><img src="https://cdn.simpleicons.org/cucumber" alt="Gherkin" class="stack-icon" />Gherkin</li>
      <li><img src="https://cdn.simpleicons.org/postman" alt="Postman" class="stack-icon" />Postman</li>
      <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vitest/vitest-original.svg" alt="Vitest" class="stack-icon" />Vitest</li>
      <li><img src="https://cdn.simpleicons.org/openjdk" alt="RESTAssured" class="stack-icon" />RESTAssured</li>
      <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/selenium/selenium-original.svg" alt="Selenium" class="stack-icon" />Selenium</li>
      <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/playwright/playwright-original.svg" alt="Playwright" class="stack-icon" />Playwright</li>
    </ul>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>build</mat-icon>
        Tools
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="stack-list">
      <li><img src="https://cdn.simpleicons.org/jira" alt="Jira" class="stack-icon" />Jira</li>
      <li><img src="https://cdn.simpleicons.org/confluence" alt="Confluence" class="stack-icon" />Confluence</li>
      <li><img src="https://cdn.simpleicons.org/github" alt="GitHub" class="stack-icon" />GitHub</li>
      <li><img src="https://cdn.simpleicons.org/gitlab" alt="GitLab" class="stack-icon" />GitLab</li>
      <li><img src="https://cdn.simpleicons.org/bitbucket" alt="Bitbucket" class="stack-icon" />Bitbucket</li>
      <li><img src="https://cdn.simpleicons.org/figma" alt="Figma" class="stack-icon" />Figma</li>
      <li><img src="https://cdn.simpleicons.org/githubcopilot" alt="Copilot" class="stack-icon" />Copilot</li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
 
