<div class="projects-container">
  <h2 class="mat-headline-small">{{'projects.title' | translate}}</h2>
  <div class="project-list">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{'projects.li_1' | translate}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{'projects.li_1_desc' | translate}}</p>
      </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{'projects.li_2' | translate}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{'projects.li_2_desc' | translate}}</p>
      </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{'projects.li_3' | translate}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{'projects.li_3_desc' | translate}}</p>
      </mat-card-content>
    </mat-card>
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{'projects.li_4' | translate}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{'projects.li_4_desc' | translate}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
