.projects-container {
  height: 100%;

  h2 {
    margin: 0 0 16px 0;
  }

  .project-list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    mat-card {
      mat-card-content p {
        margin: 0;
        font-size: 14px;
        line-height: 1.6;
      }
    }
  }
}

