<section class="contact-section">
  <h3 class="contact-title">{{ 'contact.title' | translate }}</h3>
  <div class="contact-list">
    <a class="contact-item" href="mailto:silvaengcomp@gmail.com" target="_blank" rel="noopener" scrollReveal [scrollRevealAnimation]="'fadeInUp'" [scrollRevealDelay]="0">
      <mat-icon>email</mat-icon>
      <span>silvaengcomp@gmail.com</span>
    </a>
    <a class="contact-item" href="https://wa.me/5575981004665" target="_blank" rel="noopener" scrollReveal [scrollRevealAnimation]="'fadeInUp'" [scrollRevealDelay]="100">
      <mat-icon>chat</mat-icon>
      <span>+55 (75) 981004665</span>
    </a>
    <a class="contact-item" href="https://www.linkedin.com/in/eliabe-n-silva/" target="_blank" rel="noopener" scrollReveal [scrollRevealAnimation]="'fadeInUp'" [scrollRevealDelay]="200">
      <mat-icon>link</mat-icon>
      <span>linkedin.com/in/eliabe-n-silva</span>
    </a>
    <a class="contact-item" href="https://github.com/SilvaEngComp" target="_blank" rel="noopener" scrollReveal [scrollRevealAnimation]="'fadeInUp'" [scrollRevealDelay]="300">
      <mat-icon>code</mat-icon>
      <span>github.com/SilvaEngComp</span>
    </a>
  </div>
</section>
