<div class="about-card">
  <h2>{{'experiences.title' | translate}}</h2>
  <div class="experience">
    <h3>{{'experiences.capgemini.title' | translate}}</h3>
    <p class="location">Salvador, BR (Remote) | Apr 2022 – Present</p>
    <ul>
      <li>{{'experiences.capgemini.line1' | translate}}</li>
      <li>{{'experiences.capgemini.line2' | translate}}</li>
      <li>{{'experiences.capgemini.line3' | translate}}</li>
      <li>{{'experiences.capgemini.line4' | translate}}</li>
    </ul>
  </div>
  <div class="experience">
    <h3>{{'experiences.silva.title' | translate}}</h3>
    <p class="location">Cruz das Almas, BR | Apr 2018– 2022</p>
    <ul>
      <li>{{'experiences.silva.line1' | translate}}</li>
      <li>{{'experiences.silva.line2' | translate}}</li>
      <li>{{'experiences.silva.line3' | translate}}</li>
    </ul>
  </div>
  <div class="experience">
    <h3>{{'experiences.professor.title' | translate}}</h3>
    <p class="location">Cruz das Almas, BR | Apr 2015– 2020</p>
    <ul>
      <li>{{'experiences.professor.line1' | translate}}</li>
      <li>{{'experiences.professor.line2' | translate}}</li>
    </ul>
  </div>
</div>
