<div class="experiences-container">
  <h2 class="mat-headline-small">{{'experiences.title' | translate}}</h2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{'experiences.capgemini.title' | translate}}</mat-panel-title>
        <mat-panel-description>Salvador, BR (Remote) | Apr 2022 – Present</mat-panel-description>
      </mat-expansion-panel-header>
      <ul>
        <li>{{'experiences.capgemini.line1' | translate}}</li>
        <li>{{'experiences.capgemini.line2' | translate}}</li>
        <li>{{'experiences.capgemini.line3' | translate}}</li>
        <li>{{'experiences.capgemini.line4' | translate}}</li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{'experiences.silva.title' | translate}}</mat-panel-title>
        <mat-panel-description>Cruz das Almas, BR | Apr 2018 – 2022</mat-panel-description>
      </mat-expansion-panel-header>
      <ul>
        <li>{{'experiences.silva.line1' | translate}}</li>
        <li>{{'experiences.silva.line2' | translate}}</li>
        <li>{{'experiences.silva.line3' | translate}}</li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{'experiences.professor.title' | translate}}</mat-panel-title>
        <mat-panel-description>Cruz das Almas, BR | Apr 2015 – 2020</mat-panel-description>
      </mat-expansion-panel-header>
      <ul>
        <li>{{'experiences.professor.line1' | translate}}</li>
        <li>{{'experiences.professor.line2' | translate}}</li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>
