<div class="contact-card" id="education">
  <h2>{{'education.title' | translate}}</h2>
  <ul>
    <li><strong>{{'education.li_1' | translate}}</strong><br>Advanced modern Java development and architecture (Spring Boot, Quarkus, Kafka, aws, DevOps approaches).</li>
    <li><strong>{{'education.li_2' | translate}}</strong><br>Framework to make IoT a reliable data source by integrating devices, blockchain, smart contracts, and ML for data validation.</li>
    <li><strong>{{'education.li_3' | translate}}</strong><br>Researched and applied advanced security strategies to enhance web application resilience.</li>
    <li><strong>{{'education.li_4' | translate}}</strong><br>Stress level identification system using ECG, signal processing, and ML to classify stress indicators.</li>
  </ul>
</div>
